In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("customer.csv")

In [3]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [12]:
df.shape

(50, 5)

# Train test split

In [46]:
from sklearn.model_selection import train_test_split
X = df.iloc[:,2:4]
y = df.iloc[:,-1]

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [48]:
X_train.shape

(40, 2)

In [49]:
X_test.shape

(10, 2)

In [50]:
y_train.shape

(40,)

In [51]:
y_test.shape

(10,)

# Label Ecoding

In [52]:
from sklearn.preprocessing import LabelEncoder

In [53]:
le = LabelEncoder()

In [54]:
le.fit(y_train)
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [55]:
y_train

array([0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0])

# Ordinal Encoding

In [58]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Good','Average','Poor'],['School','UG','PG']])

In [59]:
X_train.head(3)

     review education
12     Poor    School
4   Average        UG
37  Average        PG

In [60]:
oe.fit(X_train)
X_train = oe.transform(X_train)
X_test = oe.transform(X_test)

In [61]:
X_train

array([[2., 0.],
       [1., 1.],
       [1., 2.],
       [1., 1.],
       [0., 2.],
       [0., 0.],
       [0., 2.],
       [2., 2.],
       [0., 2.],
       [2., 1.],
       [0., 1.],
       [2., 1.],
       [1., 2.],
       [1., 0.],
       [2., 0.],
       [1., 0.],
       [1., 1.],
       [2., 2.],
       [0., 2.],
       [1., 0.],
       [1., 1.],
       [0., 1.],
       [0., 1.],
       [2., 1.],
       [1., 2.],
       [0., 2.],
       [2., 2.],
       [2., 0.],
       [0., 0.],
       [0., 0.],
       [0., 1.],
       [2., 2.],
       [0., 0.],
       [0., 1.],
       [1., 0.],
       [2., 0.],
       [0., 2.],
       [2., 2.],
       [2., 0.],
       [0., 0.]])