In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('cars.csv')

In [3]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [6]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

# 1. OneHotEncoding using Pandas

In [7]:
pd.get_dummies(df,columns=['brand','owner'],dtype=int,drop_first='first')

,km_driven,fuel,selling_price,brand_Ashok,brand_Audi,brand_BMW,brand_Chevrolet,brand_Daewoo,brand_Datsun,brand_Fiat,...,brand_Renault,brand_Skoda,brand_Tata,brand_Toyota,brand_Volkswagen,brand_Volvo,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,145500,Diesel,450000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,120000,Diesel,370000,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
2,140000,Petrol,158000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,127000,Diesel,225000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,120000,Petrol,130000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,110000,Petrol,320000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8124,119000,Diesel,135000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
8125,120000,Diesel,382000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8126,25000,Diesel,290000,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8127,25000,Diesel,290000,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0